/* Estilos de sobre mi */

.about {
  display: flex;
}

.about .container1 {
  width: 65%;
  animation-delay: 0.2s;
}

.about p {
  margin: 15px 0;
  color: #d1d5db;
}

.about p > span {
  color: #fef9c3;
}

.about .container2 {
  text-align: center;
  align-content: center;
  width: 35%;
  animation-delay: 0.2s;
}

.about img {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 20px;
  transform: rotate(0.006turn);
}

/* Estilos de las tecnologias y herramientas */
.technologies-container {
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
}

.technologies-container h2 {
  font-size: 26px;
}

#technologies-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
}

#technologies-list li {
  margin: 10px 15px;
  list-style: none;
  text-align: center;
}

.technologies-container img {
  width: 50px;
  transition: all 0.1s;
}
.technologies-container img:hover {
  scale: 1.1;
}

.technologies-container h4 {
  font-weight: 500;
  font-size: 14px;
}

.bgWhite {
  background-color: white;
  border-radius: 100%;
}

/* Estilos de la seccion sobre estudios */
.estudy-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.estudy-container h2 {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

.estudy-container h2 img {
  width: 30px;
  height: 30px;
  margin: 0 10px -10px 10px;
}

.estudy-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.estudy-list img {
  width: 300px;
  height: 200px;
  transition: all 0.2s;
  padding: 10px 0;
}

.estudy-list img:hover {
  scale: 1.1;
}

/* Responsive */

@media (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
    padding: 30px 0;
  }

  .about .container1,
  .about .container2 {
    width: 100%;
  }

  .technologies-container {
    text-align: center;
  }

  .estudy-list {
    flex-direction: column;
  }
}
