@import url("@fontsource-variable/onest");

* {
  font-family: "Onest Variable", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-top: 20px;
  background-color: #0a0a0a; /* Color base oscuro */
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(88, 85, 225, 0.3),
    rgba(88, 79, 150, 0)
  );
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.9); /* Color de texto */
}

/* .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: inherit;
  background-image: inherit;
} */

/* Estilos del header */

header {
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

/* Estilos de la nav */
#nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

#nav ul li {
  list-style: none;
  padding: 0 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#nav a {
  text-decoration: none;
  color: #e5e7eb;
  transition: all 0.2s;
}

#nav a:hover {
  color: #7b50fc;
}

/* Estilos del main */

main {
  max-width: 800px;
  height: 100%;
  align-content: center;
  margin: auto;
  padding: 50px 20px;
}

.part1 img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 10px;
}

.aStyle {
  padding: 6px 12px;
  margin: 0 5px;
  background-color: #1f2937;
  color: #ffffffcc;
  font-size: 14px;
  border: 0.5px solid rgb(80, 80, 80);
  border-radius: 20px;
  text-decoration: none;
}

.part1 button {
  padding: 4px 12px;
  background-color: #1f2937;
  color: #ffffffcc;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.pert2 h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
  margin: 15px 0;
}

.part2 P {
  font-size: 24px;
}

.pert2 span {
  color: #fef08a;
  font-weight: bold;
}

/* Animacion del boton */

.gradient-border {
  position: relative;
  display: inline-flex;
  border-radius: 9999px; /* Borde redondeado */
  padding: 1px; /* Espacio para el borde */
  overflow: hidden;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: -1000%; /* Para asegurar que el gradiente cubra todo */
  background: conic-gradient(
    from 90deg at 50% 50%,
    #51e4b8 0%,
    #112c28 50%,
    #51e4b8 100%
  );
  animation: spin 2s linear infinite; /* Animación del gradiente */
  z-index: 0;
}

.gradient-border > * {
  position: relative;
  z-index: 1;
  background: white; /* Fondo interno */
  border-radius: 9999px; /* Redondear contenido */
  padding: 8px 16px; /* Ajustar espacio interno */
}

/* Animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Effectos de entrada */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Mueve el elemento hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Su posición original */
  }
}

.fade-in {
  animation: fadeIn 1s ease-out; /* Duración y suavidad del efecto */
  animation-fill-mode: forwards; /* Asegura que el estado final se mantenga */
  opacity: 0; /* Opcional para que no se vea antes de animarse */
}
